.hero-wrapper {
  margin-top: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1,
  h2,
  h3 {
    margin: 0;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    color: colors.$lightDim;

    line-height: 18px;
  }

  h1 {
    font-size: 80px;
    font-weight: 600;
    color: colors.$light;

    line-height: 80px;
  }

  h2 {
    font-size: 40px;
    font-weight: 600;
    color: colors.$light;

    line-height: 40px;
  }

  .contact-button {
    width: 175px;
    height: 60px;

    background-color: colors.$yellow;
    border: none;

    font-size: 18px;
    font-weight: 600;
    color: black;

    line-height: 20px;
  }
}

.photo {
  width: 100%;

  img {
    width: 100%;

    border: 6px solid colors.$yellow;
    border-radius: 10px;
  }
}
