@import 'tailwindcss';
@import '@fontsource-variable/outfit';
@import '@fontsource/poppins/400-italic.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Outfit Variable', sans-serif;
}

@theme {
  --font-outfit: 'Outfit Variable', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  --color-dark: hsl(235, 100%, 3%);
  --color-dark-transparent: rgba(0, 1, 15, 0.75);
  --color-background: hsl(75, 12%, 7%);
  --color-background-light: hsl(70, 6%, 20%);
  --color-light-dim: hsl(160, 2%, 76%);
  --color-light: hsl(150, 10%, 96%);
  --color-yellow: hsl(52, 98%, 52%);
  --color-yellow-dim: hsl(52, 98%, 42%);
}

@layer base {
  html,
  body,
  #root {
    width: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden !important;
  }

  body.nav-active {
    overflow-y: hidden !important;
    position: fixed;
  }
}

@layer components {
  .main-content {
    @apply max-width mx-auto flex flex-col pb-6;
  }

  .sections-container {
    @apply flex w-full flex-col items-center justify-start gap-20 sm:gap-50 xl:gap-87.5;
  }

  .section-heading {
    @apply text-light text-[2rem] font-medium sm:text-[2.375rem] lg:w-3/4 lg:text-[2.625rem] xl:text-[3.125rem];
  }

  .project-card {
    @apply bg-background-light flex max-h-162.5 min-h-112.5 max-w-100 min-w-70 flex-col justify-between rounded-md;
  }

  .field-wrapper {
    @apply text-dark flex w-full flex-col items-start gap-1 text-xl;
  }

  .form-input {
    @apply bg-light yellow-shadow-box border-dark relative h-10 w-full border-2 px-2 py-2;
  }

  .input-error {
    @apply text-sm text-red-500 text-shadow-md;
  }

  .topbar {
    @apply flex h-18 flex-row items-center justify-end overflow-hidden px-4 md:px-8 lg:p-14;
  }
}

@utility hamburger-line {
  width: 100%;
  height: 3px;

  background-color: var(--color-light);
  border-radius: 10px;

  position: relative;

  &::before,
  &::after {
    width: 100%;
    height: 3px;

    background-color: var(--color-light);
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 0;

    content: '';

    transition: transform 0.2s;
  }

  &::before {
    transform: translateY(-10px);
  }

  &::after {
    transform: translateY(10px);
  }
}

@utility hamburger-line-active {
  background-color: transparent;

  &::before {
    transform: translateY(0) rotate(45deg);
  }

  &::after {
    transform: translateY(0) rotate(-45deg);
  }
}

@utility yellow-shadow-box {
  box-shadow: -5px 5px 0 0 var(--color-yellow);
}

@utility max-width {
  width: min(90%, 400rem);
}

@utility about-photo-clamp-width {
  width: clamp(20.3125rem, 27.1875rem, 60%);
}
