*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;

  overflow-x: hidden !important;

  font-family: 'Outfit', sans-serif;
}

body {
  &.nav-active {
    height: 100vh;
  }
}

.text-accent {
  color: colors.$yellow;
}
